@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&family=Manrope:wght@400;500&display=swap");
@import "tailwindcss";

@theme {
  --color-main: #8e7861;
  --color-background: #000;
}
:root {
  --font-heading: "Work Sans", sans-serif;
  --font-body: "Manrope", sans-serif;
  background-color: var(--color-background);
}

body {
  font-family: var(--font-body);
  color: white;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

html {
  scroll-behavior: smooth; /* makes scrolling smooth */
}

/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* track color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-main); /* scrollbar thumb color */
  border-radius: 4px;
  border: 2px solid #1a1a1a; /* padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-main); /* hover color */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-main) #1a1a1a;
}
